<ion-view view-title='locais' class='locais'>
        <div class="bar bar-header">
      <a href='#/' class="button icon ion-chevron-left"></a>
      <h1 class="title">Locais</h1>
    </div>
        <ion-content class='has-header'>

            <div class="list">
            <a style="background-image:url('img/locais/praca-1.png');" class="item item-lugar" href="#/local/1">
              <h2>Praça Dom Adauto - Parte 1</h2>
              <h3>A praça segue um padrão trapezoidal: no início é estreita e vai se alargando na medida que se aproxima da igreja</h3>
            </a>
            
            <a style="background-image:url('img/locais/praca-2.png');" class="item item-lugar" href="#/local/2">
              <h2>Praça Dom Adauto - Parte 2</h2>
              <h3>O segundo ponto é a parte da praça que fica mais próxima a Igreja, local aberto que dá visibilidade e direciona o olhar para ela.</h3>
            </a>
            
              <a style="background-image:url('img/locais/conjunto-casas.png');" class="item item-lugar" href="#/local/3">
              <h2>Conjunto de Casas Coloniais</h2>
              <h3>O conjunto de casas no estilo colonial reproduzem os padrões de época.</h3>
            </a>
            
             <a style="background-image:url('img/locais/igreja.png');" class="item item-lugar" href="#/local/4">
              <h2 >Igreja de Nossa S. de Boa Viagem</h2>
              <h3>Foi fundada pelo vigário, Frei Alberto Cabral, em 1861 e inaugurada em 1868.</h3>
            </a>
            
            <a style="background-image:url('img/locais/cemiterio.png');" class="item item-lugar" href="#/local/5">
              <h2>Cemitério</h2>
              <h3>A localização do cemitério está mais ligada à sua função do que a anunciação: está instalado na rua da igreja, na parte em que ela se estreita.</h3>
            </a>
            
            <a style="background-image:url('img/locais/casa-esquina.png');" class="item item-lugar" href="#/local/6">
              <h2>Casa da Esquina e Largo do Teatro</h2>
              <h3>Esse tipo de casa é uma variação da arquitetura colonial da época.</h3>
            </a>
            
          
            <a style="background-image:url('img/locais/teatro.png');" class="item item-lugar" href="#/local/7">
              <h2>Teatro Santa Ignez</h2>
              <h3>É o terceiro teatro mais antigo da Paraíba, construído em 1902 e inaugurado 2 anos mais tarde pelo chefe político da localidade. </h3>
            </a>
            
              <a style="background-image:url('img/locais/dom-pedro.png');" class="item item-lugar" href="#/local/8">
              <h2>Casas da Rua Dom Pedro II</h2>
              <h3>As casas dessa rua são representantes de um movimento da arquitetura do século XIX.</h3>
            </a>
    
          <a style="background-image:url('img/locais/janela.png');" class="item item-lugar" href="#/local/9">
              <h2>Bela vista e Janelas Urbanas</h2>
              <h3>A edificação Vila Bella Vista é uma construção da década de 20 e difere da arquitetura que vinha sendo utilizada na época.</h3>
            </a>

        
          <a style="background-image:url('img/locais/lagoa.png');" class="item item-lugar" href="#/local/10">
              <h2>Lagoa</h2>
              <h3>Alagoa Grande teve seu nome derivado da Lagoa do Paó, antigo nome dado a lagoa presente na região.</h3>
            </a>


        </div>

    </ion-content>
</ion-view>    
