<ion-view view-title='menu' class='menuPrincipal'>
    <div class="logo">
        <img class="logoImg" src='img/LOGO2.png' style="width:80%;" alt="logo do evento">
    </div>
    <div class="row">
      <a href="#/sobre"  class="button icon-left ion-information-circled button-block button-positive">
         Sobre o Evento
     </a>
    </div>
     <div class="row">
      <a href='#/cronograma' class="button icon-left ion-calendar button-block button-positive">
         Cronograma
     </a>
    </div>
     <div class="row">
              <a href="#/locais" class="button icon-left ion-map button-block button-positive">
                 Locais
             </a>
    </div>
     <div class="row">
              <button ng-click='scanear()' class="button icon-left ion-qr-scanner button-block button-stable">
                 Leitor QR-Code
             </button>

    </div>
    
    <ion-footer-bar align-title="center" class="" style='background: none;'>
 
  <h6 class="title" style="font-size:15px;">Desenvolvido por Franklin Dias (@Amor)!</h6>

</ion-footer-bar>
    
</ion-view>    
